/* 散点图组件样式 */
.h5_component_point{
	position: absolute;
}
.point{
	position: absolute;
    border-radius: 50%;
}
.point .xname{
	text-align: center;
	width: 100%;
	height: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	color:white;
}
.point .rate{
	font-size: 0.7em;
}